{% extends 'base.html' %}
{% block title %}
    {{ problem.title }} - 提交
{% endblock %}
{# Load the tag library #}
{% load bootstrap3 %}

{% load staticfiles %}
{% block body %}
    <div class="container main">
        <ul class="nav nav-tabs nav-tabs-google">
            <li role="presentation" class="active">
                <a href="/problem/{{ problem.id }}/">题目</a>
            </li>
            {% if status == 1 %}
                <li role="presentation">
                    <a href="/add/note/{{ problem.id }}/">添加笔记</a>
                </li>
            {% elif status == 2 %}
                <li role="presentation">
                    <a href="/note/{{ note.id }}/">我的笔记</a>
                </li>
            {% endif %}
            {% if status >= 1 %}
                <li role="presentation">
                    <a href="/submit/{{ problem.id }}/">提交</a>
                </li>
            {% endif %}
        </ul>
        <div>
            {% include "submission/_submission_submit.html" %}
        </div>
    </div>
{% endblock %}
{% block js_block %}
    {% include "_mathjax_js.html" %}
{% endblock %}