<div class="problem-section">
    <div class="panel panel-info">
        <div class="panel-heading">问题描述</div>
            <div class="panel-body">
            {% autoescape off %}
                {{problem.description}}
            {% endautoescape %}
            </div>
        <div class="panel-heading">输入描述</div>
            <div class="panel-body">
            {% autoescape off %}
                {{problem.input_description}}
            {% endautoescape %}
            </div>
        <div class="panel-heading">输出描述</div>
            <div class="panel-body">
            {% autoescape off %}
                {{problem.output_description}}
            {% endautoescape %}
            </div>
        <div class="panel-heading">输入</div>
            {% for ins in input %}
            <div class="panel-body">
                样例 {{ forloop.counter }}：<br>
                {% autoescape off %}
                    {{ins}}
                {% endautoescape %}
            </div>
            {% endfor %}
        <div class="panel-heading">输出</div>
            {% for ous in output %}
            <div class="panel-body">
                样例 {{ forloop.counter }}：<br>
                {% autoescape off %}
                    {{ous}}
                {% endautoescape %}
            </div>
            {% endfor %}
        <div class="panel-heading">Hint</div>
            <div class="panel-body">
            {% autoescape off %}
                {{problem.hint}}
            {% endautoescape %}
            </div>
    </div>

</div>
